{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "import"],
  "env": {
    "jest": true
  },
  "rules": {
      "indent": ["error", 2, {"SwitchCase": 1}],        
      "no-trailing-spaces": "off",
      "jsx-quotes": ["error", "prefer-single"],
      "react/jsx-filename-extension": "off",
      "eol-last": "off",
      "comma-dangle": "off",
      "jsx-a11y/label-has-for": "off",
      "import/prefer-default-export": "off"
  },
  "globals": {
    "document": true,
    "shallow": true,
    "mount": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.dev.js"
      }
    }
  }
}